# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.h
*.cpp

# And full catalogs
debug/
Win32/
config/
data/

#Build files
/messenger.pro.user.*
/messenger.sdf
Makefile
Makefile.Debug
Makefile.Release
object_script.messenger.Debug
object_script.messenger.Release
.qmake.stash
